[Unit]
Description=log-collector-client
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /root/log-collector/client/log-col-client.py

[Install]
WantedBy=multi-user.target
