[Unit]
Description=log-col-client
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /root/log-col/log-col-client.py

[Install]
WantedBy=multi.user.target
