body p {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
p {
    margin: 0px;
    font-size: 1em;
}
p:hover {
    background-color: #f0f0f0;
}
p.mark {
    background-color: #f03333;
}

#logs tr:hover {
    background-color: #f0f0f0;
}

pre.sar {
    font-size: 1em;
}

