body p {
    font-family: Consolas, monospace;
}
p {
    margin: 0px;
    font-size: 1em;
}
p:hover {
    background-color: #f0f0f0;
}
p.mark {
    background-color: #33f0f0;
}

#logs tr:hover {
    background-color: #f0f0f0;
}

