{% extends 'base.html' %}

{% block static %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='jquery.dataTables.min.css') }}" type="text/css">
{% endblock %}

{% block content %}
<table id='logs'>
    <thead>
        <tr>
            <th>Date and Time</th>
            <th>IP</th>
            <th>FileName</th>
        </tr>
    </thead>
    <tbody>
    {% for f in files %}
    {% set data = f.split('-') %}
        <tr href={{ url_for('viewer', filename=f) }}>
            <td>{{ data[0] }} </td>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
$(document).ready(function() {
    $('#logs').DataTable( {
        "order": [[ 0, "desc" ]],
        paging: false
    });
    $('#logs tr').click(function() {
        var href = $(this).attr("href");
        if(href) {
            window.location = href;
        }
    });

});
</script>
{% endblock %}
