{% extends 'base.html' %}

{% block content %}
{% autoescape false %}
{{ text }}
{% endautoescape %}
<script>
$.expr[':'].contains = $.expr.createPseudo(function(arg) {
    return function(elem) {
        return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >=0;
    }
});

$('p:contains("fault")').addClass('mark');
$('p:contains("fail")').addClass('mark');
$('p:contains("error")').addClass('mark');
$('p').click(function() {
    var str = $(this).text().split(' ').slice(5).join(' ');
    window.open('https://www.google.co.kr/search?q=' + str, '_blank');
});
</script>
{% endblock %}

