{% extends 'base.html' %}

{% block static %}
<script type="text/javascript" src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dataTables.rowGroup.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='jquery.dataTables.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='rowGroup.dataTables.min.css') }}" type="text/css">
{% endblock %}

{% block content %}
<table id="logs" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Date and Time</th>
            <th>IP</th>
            <th>FileName</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
    {% for f in files %}
    {% set data = f.split('-') %}
        <tr>
            <td>{{ data[0] }} </td>
            <td>{{ data[1] }}</td>
            <td><a href="{{ url_for('viewer', filename=f) }}">{{ data[2] }}</a></td>
            <td><a href="{{ url_for('download', f=f) }}" download>down</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
$(document).ready(function() {
    $('#logs').DataTable( {
        "order": [[ 0, "desc" ]],
        paging: false,
        rowGroup: {
            dataSrc: 1
        }
    });
});
</script>
{% endblock %}
